/* * 2.1 CSS Reset & Universal Styles */
html {
  background: #090b1a;
  font-size: 62.5%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* * 2.2 Removing default focus outline in browsers to add my own focus styles */
a:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

/* **** Mobile Viewport ****/
/* * 3 Body Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* * 4.1 Center Card Styles */
.center-card {
  min-height: 90vh;
  margin-block: 2rem;
  display: grid;
  place-items: center;
  background-color: #090b1a;
}

/* * 4.2 Card Styles */
.card {
  background-color: #1b1938;
  width: min(388px, 88vw);
  border-radius: 1rem;
  display: grid;
}

.card__hero {
  background: url("../images/image-header-mobile.jpg") center/cover no-repeat;
  border-radius: 1rem 1rem 0 0;
  min-height: 238px;
  position: relative;
  margin-bottom: 3.8rem;
}

.card__opacity {
  background-color: rgba(87, 14, 123, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* * 4.3 Card Main Content Styles */
.card__main-content {
  padding-inline: 3.5rem;
  margin-bottom: 3.6rem;
}

.card__title {
  color: #fff;
  font-family: "Inter", sans-seriffot-n;
  font-size: 2.9rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.4rem;
}
.card__title span {
  color: #aa5cdb;
}

.card__description {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Inter", sans-seriffot-n;
  font-size: 1.5rem;
  font-size: 200;
  line-height: 2.4rem;
  text-align: center;
  margin-bottom: 3.6rem;
}

.card__stat-group {
  display: grid;
  grid-gap: 2.88rem;
  text-align: center;
}

.card__stat-subgroup h2 {
  color: #fff;
  font-family: "Inter", sans-seriffot-n;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.card__stat-subgroup p {
  letter-spacing: 0.16rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.15rem;
  font-weight: 200;
  text-transform: uppercase;
}

/* * 5.1 Footer Styles */
footer {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  margin: auto 0 0.5rem;
}
footer p {
  color: rgba(255, 255, 255, 0.75);
}

/* * 5.2 Footer Link Hover and Focus Styles */
.footer__link {
  color: #aa5cdb;
}
.footer__link:hover, .footer__link:focus {
  color: rgba(255, 255, 255, 0.75);
}
.footer__link:hover {
  text-decoration: none;
}
.footer__link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #090b1a;
}

/* **** Tablet/Desktop Viewport ****/
@media screen and (min-width: 1200px) {
  .card {
    min-width: 110.06rem;
    min-height: 44.6rem;
    grid-template-columns: 51.5% 48.5%;
    align-items: center;
  }

  .card__hero {
    background: url("../images/image-header-desktop.jpg") center/cover no-repeat;
    height: 100%;
    margin-bottom: 0;
    border-radius: 0 1rem 1rem 0;
  }
  .card__hero:nth-of-type(1) {
    order: 2;
  }

  .card__main-content {
    padding-left: 7.2rem;
    margin-block: -2.8rem 0;
  }
  .card__main-content:nth-of-type(2) {
    order: 1;
  }

  .card__title,
.card__description {
    text-align: left;
  }

  .card__title {
    max-width: 18ch;
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }

  .card__description {
    max-width: 40ch;
    margin-bottom: 7rem;
  }

  .card__stat-group {
    grid-template-columns: repeat(3, -webkit-min-content);
    grid-template-columns: repeat(3, min-content);
    grid-gap: 3.6rem;
    text-align: left;
  }

  .card__stat-subgroup h2 {
    margin-bottom: 0.6rem;
  }
}/*# sourceMappingURL=main.css.map */